<h1>Checkout</h1>
<form method="post" action="/checkout">
  <p>Item: <input type ="text" id = "team[name]" name="team[name]"></p>
  <p>Team Motto: <input type ="text" id = "team[motto]" name ="team[motto]"></p>
